// Main Home
* {
  font-family: 'Poppins', sans-serif;
}

.mainNonUserHome {
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  // border: 2px solid red;

  .mainNonUserHomeImageContainer {
    height: 38%;
    width: 100%;
    // border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://royalcountydown.designmode.intelligentgolf.co.uk/images/resources/royalcountydown/new-home-slide-2-large.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-blend-mode: hard-light;

    .mainNonUserHomeTitle {
      font-size: 75px;
      color: white;
      font-weight: 500;
      text-transform: uppercase;
    }

    .mainNonUserHomeSubTitle {
      font-size: 30px;
      color: rgb(226, 220, 220);
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .AboutContainer {
    width: 100%;
    height: 20%;
    background-color: rgb(241, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .AboutBirdieTimeTitle {
      font-size: 50px;
      color: rgb(100, 197, 105);
    }

    .AboutParagraph {
      width: 60%;
      margin: 0 auto;
      text-align: center;
    }

    .SiteUpdates {
      color: rgb(185, 32, 32);
      width: 60%;
      margin-top: 20px;
      text-align: center;
    }
  }

  .ImagesContainer {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    // border: 2px solid blue;

    .ImageContainer {
      width: 30%;
      height: 80%;
      display: flex;
      flex-direction: column;
      // border: 2px solid blue;
      align-items: center;
      justify-content: space-evenly;

      .ImageSize {
        width: 400px;
        height: 250px;
      }

      .CourseMiniDescription {
        width: 90%;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .NonUserFooter {
    width: 100%;
    height: 15%;
    background-color: rgb(241, 235, 235);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


// User Home
.mainUserHome {
  height: 100vh;
  width: 100vw;
  // border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .mainUserHomeCoursesContainer {
    height: 100%;
    width: 73%;
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;

    .mainUserHomeCoursesHeader {
      height: 20%;
      width: 100%;
      // border: 2px solid green;
      display: flex;
      flex-direction: row;
      align-items: center;

      .DropDownsContainer {
        height: 100%;
        width: 50%;
        border: 2px solid pink;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
      }
    
      .mainUserHomeCoursesHeaderSearchBar {
        height: 100%;
        width: 50%;
        // border: 2px solid pink;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .BirdieUserHomeSearchForm {
          height: 100%;
          width: 100%;
          // border: 2px solid gold;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          #BirdieUserHomeSearchFormBar{
            width: 80%;
          }
        }
      }
    }
    .MediaGalleryandCoursesContainer {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      // border: 2px solid orange;
      padding-top: 20px;
      justify-content: space-between;

      .coursesMediaGallery {
        height: 100%;
        width: 20;
        border-right: 2px solid black;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        align-items: flex-start;

        .HomeMediaGalleryTitle {
          font-weight: bold;
          text-decoration: underline;
        }
      }

    .showAllTheCoursesContainer {
        height: 100%;
        width: 68%;
        // border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

      .showAllTheCourses {
        height: 90%;
        width: 100%;
        // border: 2px solid red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .CourseCardContainer {
          width: 45%;
          height: 48%;
          border-top: 3px solid rgb(155, 103, 36);
          background-color: rgb(249, 250, 250);
          padding: 0px;
          margin: 0px 20px 10px 0px;
          display: flex;
          flex-direction: column;
          // align-items: flex-start;
          box-shadow: 0px 3px 15px rgba(0,0,0,0.3);

          .CourseCardImageContainer {
            width: 100%;
            height: 50%;
            // border: 2px solid orange;

            .CourseHeroImageContainer {
              width: 100%;
              height: 100%;

             .CourseHeroImage {
               width: 100%;
               height: 100%;
            }
           }
          }
          .CourseCardInfoContainer {
            width: 100%;
            height: 30%;
            // border: 2px solid blue;
            padding-left: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .CourseCardInfoTitle {
              font-weight: bold;
              font-size: 20px;
            }
            .CourseCardInfoRanking {
              font-size: 25px;
            }

            .CourseNationandType {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }
          }

          .CourseCardButtonContainer {
            width: 100%;
            height: 20%;
            // border: 2px solid green;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: rgb(229, 250, 231);

            .CourseCardButton {
              padding: 10px;
              border-radius: 3px;
              background-color: rgb(155, 103, 36);
              color: rgb(236, 229, 229);
              font-weight: bold;
            }
            .CourseCardButton:hover {
              background-color: rgb(89, 218, 85);
              cursor: pointer;
              text-decoration: double;
            }
          }
        }
      }
    }
  }
  .PaginationContainer {
    width: 100%;
    height: 10%;
    // border: 2px solid brown;
    .pagination {
      // border: 2px solid blue;
      height: 100%;
     }
    }
  }
  .UserStatsContainer {
    height: 100%;
    width: 25%;
    border-left: 2px solid black;
    padding-top: 20px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(187, 243, 183);

    .UserCoursePlayedStats {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      border-bottom: 2px solid black;

      .UserCoursePlayedTitle {
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
      }

      .UserCoursePlayedInfo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px 0px 10px 10px;
        border-bottom: 1px solid rgb(147, 158, 147);
      }
    }

    .UserCourseWishListStats {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      border-bottom: 2px solid black;

      .UserWishListTitle {
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
      }

      .UserWishListInfo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px 0px 10px 10px;
        border-bottom: 1px solid rgb(147, 158, 147);
      }
    }
  }

}



// Navbar

.navbar {
  height: 100px;
  border-top: 3px solid rgb(126, 80, 20);
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);

  #BirdieTimeTitle {
    font-size: 30px;
    font-weight: bold;
  }
}

// Login

#loginhero {
  #loginhero-body{
    background-image: url('https://royalcountydown.designmode.intelligentgolf.co.uk/images/resources/royalcountydown/new-home-slide-2-large.jpg');
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
  }
}

#loginbox {
  animation: fade ease-in 1.5s forwards;
}

// Register

#registerhero {
  #registerhero-body{
    background-image: url('https://royalcountydown.designmode.intelligentgolf.co.uk/images/resources/royalcountydown/new-home-slide-2-large.jpg');
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
  }
}

#registerbox {
  animation: fade ease-in 1.5s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}



// Course Detailed Page
.mainCourseDetailedPage {
  height: 270vh;
  width: 100vw;
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .mainCourseDetailedPageTitleandRating {
    height: 6%;
    width: 93%;
    // border: 2px solid gold;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;

    .NameandRankingTitle {
      font-size: 30px;
      font-weight: bold;
    }

    .RankingTitle {
      padding-left: 5px;
    }
  }
  .mainCourseDetailedPageImageandUsefulInfo {
    height: 12%;
    width: 93%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(223, 213, 213);
    border-bottom: 1px solid rgb(223, 213, 213);
    align-items: flex-start;
    margin: 0 auto;

    .mainCourseDetailedPageFigureImage {
      height: 100%;
      width: 35%;
      // border: 2px solid green;

      .mainCourseDetailedPageImage {
        width: 100%;
        height: 100%;
      }
    }
    .UserAddsCourseandInfoContainer {
      width: 100%;
      height: 100%;
      // border: 2px solid red;
      display: flex;
      flex-direction: column;

      .mainCourseDetailedPageUsefulInfo {
        width: 100%;
        height: 65%;
        // border: 2px solid blue;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        align-items: flex-start;
        justify-content: flex-start;
  
        .UsefulInfoTitle {
          font-weight: bold;
        }
      }
      .UserAddsCourse {
        width: 100%;
        height: 35%;
        // border: 2px solid black;
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .UserAddsCourseButton {
          padding: 15px;
          border-radius: 3px;
          background-color: rgb(96, 138, 93);
          color: rgb(236, 229, 229);
          font-weight: bold;
        }
      }
    }
  }

  .AddCoursePlayedFormContainer {
    width: 93%;
    height: 5%;
    // border: 2px solid blue;
    // display: none;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    display: none;
    margin-top: 20px;

    .AddCoursePlayedForm {
      width: 60%;
      height: 100%;
      // border: 2px solid red;
      background-color: yellowgreen;
      margin-left: 350px;
      display: none;

        .form {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }
      .addcoursebutton {
        background-color: rgb(96, 138, 93);
        color: white;
        margin-top: 32px;
      }
    }
  }

  .CourseDetailedPageHoles {
    width: 93%;
    height: 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto 0;
    // border: 2px solid green;
    
    .AllHolesContainer {
      height: 100%;
      width: 8%;
      // border: 2px solid black;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: rgb(238, 231, 231);

    .AllHoles {
      color: rgb(101, 212, 101);
      font-weight: bold;
    }

    .AllHoles:hover {
      color: rgb(12, 12, 12);
      font-weight: bold;
    }
  }

    .CourseDetailedPageSingularHoles {
      width: 90%;
      height: 100%;
      // border: 2px solid red;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(238, 231, 231);
      

      .CourseDetailedPageSingularHole {
        color: rgb(101, 212, 101);
        font-weight: bold;
      }

      .CourseDetailedPageSingularHole:hover {
        color: rgb(12, 12, 12);
        font-weight: bold;
      }
    }
  }
  .CourseDetailedPageInfoContainer {
    width: 93%;
    height: 17%;
    // border: 2px solid blue;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;

    .CourseDetailedPageInfoStats {
      width: 50%;
      height: 100;
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: rgb(248, 244, 244);
      
      .CourseDetailedPageInfoTheStats {
        width: 98%;
        height: 17%;
        // border: 2px solid blue;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin: 0 auto;

        .StatTitle {
          width: 50%;
          height: 100%;
          border-bottom: 1px solid rgb(88, 153, 88);
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-end;
          padding-left: 5px;

          .StatInfoTitle {
            font-weight: bold;
          }
        }
        .StatAnswer {
          width: 50%;
          height: 100%;
          border-bottom: 1px solid rgb(88, 153, 88);
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-end;
          padding-left: 5px;        }
      }
    }

    .CourseDetailedPageInfoDescription {
      width: 50%;
      height: 100;
      // border: 2px solid red;
      // justify-content: center;
      // align-items: center;

      .TheCourseDescription {
        width: 95%;
        height: 100%;
        margin: 0 auto;
        border-left: 1px solid rgb(88, 153, 88);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;

        .TheCourseDescriptionDetail {
          font-style: italic;
        }
      }
    }
  }

  .CourseDetailedPageBigImageContainer {
    width: 93%;
    height: 30%;
    // border: 2px solid blue;
    margin: 20px auto;


    .CourseDetailedPageBigImage {
      width: 100%;
      height: 100%;

      .CourseDetailedPageTheBigImage {
        height: 100%;
        width: 100%;
      }
    }
  }

  .GalleryandCommentsContainer {
    width: 93%;
    height: 34%;
    // border: 2px solid green;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .CourseDetailedPageMediaGallery {
      width: 30%;
      height: 100%;
      border-right: 2px solid black;
      padding-right: 10px;
      display: flex;
      flex-direction: column;

      .CourseMediaGalleryTitle {
        font-weight: bold;
        text-decoration: underline;
      }

      .CourseDetailedPageVideo {
        width: 100%;
        height: 50%;
        // border: 2px solid blue;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .CourseDetailedPageTheVideo {
          width: 100%;
          height: 100%;
        }
      }

      .CourseDetailedPagePhotos {
        width: 100%;
        height: 50%;
        // border: 2px solid blue;
        margin-top: 10px;

        .CourseDetailedPageThePhotos {
          width: 100%;
          height: 100%;
          .CarouselImg{
            width: 390px;
            height: 240px;
          }
        }
      }
    }

    .CommentsandPlayerReviewsContainer {
      width: 68%;
      height: 100%;
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      
      .Comments {
        width: 100%;
        height: 60%;
        // border: 2px solid brown;
        display: flex;
        flex-direction: row;

        .allCourseCommentsContainer {
          width: 50%;
          height: 100%;
          border: 2px solid grey;
          display: flex;
          flex-direction: column;
          background-color: rgb(57, 124, 57);

          .CourseCommentTitle {
            color: rgb(7, 7, 7);
            font-weight: bold;
          }

          .allTheComments {
            width: 85%;
            height: 90%;
            background-color: rgb(110, 201, 110);
            overflow: scroll;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .CommentContainer {
              height: 30%;
              width: 95%;
              margin: 5px auto 0px;
              display: flex;
              flex-direction: row;
              background-color: rgb(252, 249, 249);
              box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
              border-radius: 5px;
              // border: 2px solid blue;
          
              .AComment {
                width: 87%;
                height: 100%;
                // border: 2px solid orange;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .CommentsContent {
                  width: 100%;
                  height: 80%;
                  border-bottom: 2px solid rgba(235, 234, 234, 0.712);
                  overflow: scroll;
                  background-color: rgb(253, 253, 253);
                  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
                }
              }
            }
          }
        }

        .addCourseComment {
          width: 50%;
          height: 100%;
          background-color: rgb(218, 214, 214);

          .textarea {
            width: 50px;
            height: 100px;
            margin-bottom: 5px
          }
        }
      }

      .PlayerReviews {
        width: 100%;
        height: 40%;
        border-top: 1px solid rgb(88, 153, 88);
        display: flex;
        flex-direction: column;
        margin-top: 5px;

        .PlayerReviewsTitle {
          font-weight: bold;
          text-decoration: underline;
        }

        .PlayerReviewsContainer {
          width: 100%;
          height: 90%;
          display: flex;
          flex-direction: row;
        
        
        .PlayerReview1 {
          width: 50%;
          height: 100%;
          // border: 2px solid gold;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          // align-items: center;

          .PlayerReview1Fig {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .PlayerReview1Img {
              width: 95%;
              height: 95%;
            }
          }

          .PlayerReview1Info {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            // border: 2px solid black;
          }
        }

        .PlayerReview2 {
          width: 50%;
          height: 100%;
          // border: 2px solid gold;
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          .PlayerReview2Fig {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .PlayerReview2Img {
              width: 95%;
              height: 95%;
            }
          }

          .PlayerReview2Info {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }
    }
  }
}


// Course All Holes

.MainCourseAllHolesContainer {
  height: 190vh;
  width: 100vw;
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .MainCourseAllHolesContainer{    
  height: 8%;
  width: 93%;
  // border: 2px solid gold;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;

    .NameandRankingTitle {
    font-size: 30px;
    font-weight: bold;
    }

    .RankingTitle {
    padding-left: 5px;
    }
  }

  .mainCourseAllHolesPageImageandUsefulInfo {
    height: 14%;
    width: 93%;
    display: flex;
    flex-direction: row;
    // border: 2px solid blue;
    align-items: flex-start;
    margin: 0 auto;

    .mainCourseAllHolesFigureImage {
      height: 100%;
      width: 35%;
      // border: 2px solid green;

      .mainCourseAllHolesImage {
        width: 100%;
        height: 100%;
      }
    }
    .UserAddsCourseandInfoContainer {
      width: 100%;
      height: 100%;
      border-bottom: 1px solid rgb(74, 158, 74);
      display: flex;
      flex-direction: column;
      justify-content: center;

      .mainCourseAllHolesUsefulInfo {
        width: 100%;
        height: 65%;
        // border: 2px solid blue;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        align-items: flex-start;
        justify-content: flex-start;
  
        .UsefulInfoTitle {
          font-weight: bold;
        }
      }
    }
  } 

  .CourseAllHolesHoles {
    width: 93%;
    height: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto 0;
    // border: 2px solid green;
    
    .AllHolesContainer {
      height: 100%;
      width: 8%;
      // border: 2px solid black;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: rgb(238, 231, 231);

    .AllHoles {
      color: rgb(101, 212, 101);
      font-weight: bold;
    }

    .AllHoles:hover {
      color: rgb(12, 12, 12);
      font-weight: bold;
    }
  }

    .CourseAllHolesSingularHoles {
      width: 90%;
      height: 100%;
      // border: 2px solid red;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(238, 231, 231);
      

      .CourseAllHolesSingularHole {
        color: rgb(101, 212, 101);
        font-weight: bold;
      }

      .CourseAllHolesSingularHole:hover {
        color: rgb(12, 12, 12);
        font-weight: bold;
      }
    }
  }

  .CourseAllHolesContainer {
    width: 93%;
    height: 75%;
    // border: 2px solid black;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;

    .CourseAllHolesOutTitle {
      font-size: 30px;
      font-weight: bold;
      text-decoration: underline;
    }

    .CourseAllHolesOutContainer {
      width: 100%;
      height: 50%;
      // border: 2px solid blue;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .CourseOutHoles {
        width: 20%;
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .CourseOutHolesInfo {
          width: 100%;
          height: 20%;
          // border: 2px solid green;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          .CourseOutHolesNumber {
            color: green;
            font-weight: bold;
            font-size: 20px;
          }

          .CourseOutHolesInfoStats {
            width: 80%;
            height: 100%;
            margin-left: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
          }
        }

        .CourseOutHolesNoGraph {
          width: 100%;
          height: 80%;
          border: 2px solid yellow;
         

          .CourseOutHolesNoGraphFig {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .CourseOutHolesNoGraphImg {
              width: 100px;
              height: 100px;
            }
          }
        }
      }

      .CourseOutHolesWithTheGraph {
        width: 20%;
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .CourseOutHolesInfo {
          width: 100%;
          height: 20%;
          // border: 2px solid green;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          .CourseOutHolesNumber {
            color: green;
            font-weight: bold;
            font-size: 20px;
          }

          .CourseOutHolesInfoStats {
            width: 80%;
            height: 100%;
            margin-left: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
          }
        }

        .CourseOutHolesWithGraph {
          width: 100%;
          height: 80%;
          border-right: 1px solid rgb(64, 158, 64);
          background-color: rgb(206, 206, 206);
         

          .CourseOutHolesWithGraphFig {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .CourseOutHolesWithGraphImg {
              width: 200px;
              height: 170px;
              
            }
          }
        }
      }
    }

    .CourseAllHolesInTitle {
      font-size: 30px;
      font-weight: bold;
      text-decoration: underline;
    }

    .CourseAllHolesInContainer {
      width: 100%;
      height: 50%;
      // border: 2px solid blue;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .CourseInHoles {
        width: 20%;
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .CourseInHolesInfo {
          width: 100%;
          height: 20%;
          border: 2px solid green;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          .CourseInHolesNumber {
            color: green;
            font-weight: bold;
            font-size: 20px;
          }

          .CourseInHolesInfoStats {
            width: 80%;
            height: 100%;
            margin-left: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
          }
        }

        .CourseInHolesNoGraph {
          width: 100%;
          height: 80%;
          border: 2px solid yellow;
         

          .CourseInHolesNoGraphFig {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .CourseInHolesNoGraphImg {
              width: 100px;
              height: 100px;
            }
          }
        }
      }

      .CourseInHolesWithTheGraph {
        width: 20%;
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .CourseInHolesInfo {
          width: 100%;
          height: 20%;
          // border: 2px solid green;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          .CourseInHolesNumber {
            color: green;
            font-weight: bold;
            font-size: 20px;
          }

          .CourseInHolesInfoStats {
            width: 80%;
            height: 100%;
            margin-left: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
          }
        }

        .CourseInHolesWithGraph {
          width: 100%;
          height: 80%;
          border-right: 1px solid rgb(64, 158, 64);
          background-color: rgb(206, 206, 206);
          
          .CourseInHolesWithGraphFig {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .CourseInHolesWithGraphImg {
              width: 200px;
              height: 170px;
            }
          }
        }
      }
    }
  }
}


// Hole Detailed Page

.mainSingleHole {
  height: 150vh;
  width: 100vw;
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .singleHoleContainer {
    height: 14%;
    width: 93%;
    // border: 2px solid gold;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;

  .NameandRankingTitle {
    font-size: 30px;
    font-weight: bold;
    }

    .RankingTitle {
    padding-left: 5px;
    }
  }

  .singleHolePageImageandUsefulInfo {
    height: 20%;
    width: 93%;
    display: flex;
    flex-direction: row;
    // border: 2px solid blue;
    align-items: flex-start;
    margin: 0 auto;

    .singleHoleFigureImage {
      height: 100%;
      width: 35%;
      // border: 2px solid green;

      .singleHoleImage {
        width: 100%;
        height: 100%;
      }
    }
    .UserAddsCourseandInfoContainer {
      width: 100%;
      height: 100%;
      border-bottom: 1px solid rgb(57, 153, 57);
      display: flex;
      flex-direction: column;
      justify-content: center;

      .mainCourseAllHolesUsefulInfo {
        width: 100%;
        height: 65%;
        // border: 2px solid blue;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        align-items: flex-start;
        justify-content: flex-start;
  
        .UsefulInfoTitle {
          font-weight: bold;
        }
      }
    }
  }

  .singleHoleDetailContainer {
    width: 93%;
    height: 85%;
    // border: 2px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .singleHoleDetailHeader {
      width: 100%;
      height: 7%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      // border: 2px solid red;
      background-color: rgb(223, 224, 220);

      .HoleNumberContainer {
        width: 30%;
        height: 100%;
        // border: 2px solid red;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

      .HoleNumber {
        font-size: 30px;
        font-weight: bold;
        margin-left: 20px;
        color: rgb(76, 189, 53);
      }
    }
      .HolePar {
        font-weight: bold;
        margin-right: 10px;
      }
    }

    .GraphandVideoContainer {
      width: 100%;
      height: 80%;
      border-top: 1px solid rgb(60, 160, 60);
      border-bottom: 1px solid rgb(60, 160, 60);
      padding: 20px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .GraphContainer {
        width: 45%;
        height: 100%;
        // border: 2px solid blue;
        background-color: rgb(240, 241, 237);

        .GraphFigure {
          width: 100%;
          height: 100%;
          .GraphImg {
            width: 550px;
            height: 600px;
          }
        }
      }

      .VideoContainerandTeeBoxes {
        width: 50%;
        height: 100%;
        // border: 2px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .HoleVideo {
          width: 100%;
          height: 60%;
          border: 2px solid gold;

          .HoleVideoIframe {
            width: 100%;
            height: 100%;
          }
        }

        .TeeBoxes {
          width: 100%;
          height: 27%;
          // border: 2px solid gold;

          .HoleTeeBoxesDropDown {
            // margin-top: 30px;
            // margin-left: 50px;

          }

          .HoleTeeBoxContent {
            width: 100%;
            height: 100%;
            border: 2px solid red;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: rgb(218, 236, 218);

            .HoleTeeBoxOne{
              width: 100%;
              height: 33%;
              // border: 2px solid orange;
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              justify-content: space-between;
              border-bottom: 2px solid grey;
            }

            .HoleTeeBoxTwo{
              width: 100%;
              height: 33%;
              // border: 2px solid orange;
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              justify-content: space-between;
              border-bottom: 2px solid grey;
            }

            .HoleTeeBoxThree{
              width: 100%;
              height: 33%;
              // border: 2px solid orange;
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              justify-content: space-between;
              border-bottom: 2px solid grey;
            }
          }
        }
      }
    }
  }
}

//User Profile

.mainUserProfile {
  width: 80vw;
  height: 200vh;
  // border: 2px solid red;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 238, 235);

  .UserProfileHomeCourseImgContainer {
    width: 80%;
    height: 35%;
    // border: 2px solid black;
    display: flex;
    flex-direction: column;

    .UserProfileHomeCourseImg {
      width: 100%;
      height: 100%;
      // border: 2px solid green;

      .UserProfileHomeCourseFig {
        width: 100%;
        height: 100%;
        .TheUserProfileHomeCourseFig {
          width: 100%;
            height: 100%;
        }
      }
    }
  }

  .UserProfileInfoContainer {
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(247, 242, 242);

    .UserInfo {
      width: 30%;
      height: 90%;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      box-shadow: 0px 3px 15px rgba(0,0,0,0.3);

      .YourInfoTitle {
        font-weight: bold;
        text-decoration: underline;
      }
    }
    .UserProfileButtons {
      display: flex;
      flex-direction: row;
      width: 70%;
      height: 100%;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }


  .UserCoursesPlayed {
    width: 80%;
    height: 30%;
    border: 2px solid green;
    // justify-content: ;
    margin-top: 20px;
    overflow: scroll;
    display: none;

    .CoursesPlayedImgandStats {
      width: 30%;
      height: 100%;
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      text-align: center;

    .UserCoursesPlayedImg {
      width: 400px;
      height: 200px;
      padding: 0px 20px;

      }
    }
  }

  .UserCourseWishlist {
    width: 80%;
    height: 30%;
    border: 2px solid green;
    // justify-content: ;
    margin-top: 20px;
    overflow: scroll;
    display: none;

    .UserCourseWishlistImgandStats {
      width: 30%;
      height: 100%;
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      text-align: center;

    .UserCourseWishlistimg {
      width: 400px;
      height: 200px;
      padding: 0px 20px;

      }
    }
  }

  .UserCourseFavourites {
    width: 80%;
    height: 30%;
    border: 2px solid green;
    // justify-content: ;
    margin-top: 20px;
    overflow: scroll;
    display: none;

    .UserCourseFavouritesImgandStats {
      width: 30%;
      height: 100%;
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      text-align: center;

    .UserCourseFavouritesImg {
      width: 400px;
      height: 200px;
      padding: 0px 20px;

      }
    }
  }

.GolfBagContainer {
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  // border: 2px solid blue;
  margin-top: 50px;

  .GolfBagFormContainer {
    width: 50%;
    height: 60%;
    // border: 2px solid red;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    margin-top: 30px;

    .CreateYourBagTitle {
      width: 100%;
      height: 10%;
      font-size: 30px;
      font-weight: bold;
      color: rgb(63, 163, 63);
      text-decoration: underline;
      margin-bottom: 20px;
    }
    .golfbagform {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      animation: fade ease-in 1s forwards;
      background-color: rgb(202, 238, 202);
    }
    
    @keyframes fade {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 0.25;
      }
      50% {
        opacity: 0.5;
      }
      75% {
        opacity: 0.75;
      }
      100% {
        opacity: 1;
      }
    }
    
    @-webkit-keyframes fade {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 0.25;
      }
      50% {
        opacity: 0.5;
      }
      75% {
        opacity: 0.75;
      }
      100% {
        opacity: 1;
      }
    }
    }
  }

  .ShowGolfBag {
    width: 50%;
    height: 85%;
    border-left: 2px solid rgb(66, 146, 66);
    padding-left: 20px;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    margin-top: 30px;

    .YourGolfBagTitle {
      width: 100%;
      height: 10%;
      font-size: 30px;
      font-weight: bold;
      color: rgb(63, 163, 63);
      text-decoration: underline;
    }

    .TheUserBagandImageContainer {
      width: 100%;
      height: 90%;
      // border: 2px solid blue;
      display: flex;
      flex-direction: row;
    .TheUserbag {
      width: 50%;
      height: 100%;
      // border: 2px solid green;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .BagImage {
      width: 50%;
      height: 100%;
      // border: 2px solid green;
     
      .TheBagImage {
        width: 250px;
        height: 420px;
      }
    }
   }
  }
}

// Course Maps

.CourseMaps {
  height: 93vh;
  width: 100vw;
  background-image: url('https://royalcountydown.designmode.intelligentgolf.co.uk/images/resources/royalcountydown/new-home-slide-2-large.jpg');
  background-position: center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}